/* Connect.css */

.container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1{
    padding-bottom: 5px;
}

.header {
  text-align: center;
}

.buttons {
  margin-top: 20px;
}

